<div
  class="banner bg-home"
  [style.background-image]="'url(./assets/images/banner/home.jpg)'"
></div>

<div class="main-container">
  <app-section
    *ngIf="topCharts"
    [section]="topCharts"
    [carouselButtonPositionClass]="carouselArrowPosClass3"
    [primaryCard]="true"
  >
  </app-section>

  <h4 class="mb-4">New Chapters</h4>
  <ngx-slick-carousel class="{{ classes }} section" [config]="sliderConfig">
    <div ngxSlickItem class="slide" *ngFor="let song of songs">
      <app-event-countdown-card [event]="song"></app-event-countdown-card>
    </div>
  </ngx-slick-carousel>
</div>
