<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div
  class="banner"
  [style.background-image]="'url(' + songDetails.bigImage + ')'"
  [style.background-size]="cover"
></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
  <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
  <div class="row section text-center text-md-left">
    <div class="col-xl-3 col-lg-4 col-sm-5">
      <img
        [src]="songDetails.image"
        alt="{{ songDetails.name }}"
        class="card-img--radius-lg"
      />
    </div>
    <div class="col-xl-9 col-lg-8 col-sm-7">
      <div class="row pt-4">
        <div class="col-xl-8 col-lg-6">
          <p>Release: {{ songDetails.releaseDate }}</p>
          <h3>{{ songDetails.name }}</h3>
          <div class="mt-4">
            <button
              type="button"
              class="btn btn-pill btn-air btn-bold btn-danger"
            >
              Play
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End | Section -->

  <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
  <div class="section">
    <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
    <ul
      appLineTabs
      class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4"
      id="artistDetails"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link active"
          id="bio-tab"
          data-toggle="tab"
          href="#bio"
          role="tab"
          aria-controls="bio"
          aria-selected="true"
          >Summary</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="song-tab"
          data-toggle="tab"
          href="#song"
          role="tab"
          aria-controls="song"
          aria-selected="false"
          >Episodes</a
        >
      </li>
    </ul>
    <!-- End | Line Tabs -->

    <!-- Begin | Tab Content -->
    <div class="tab-content" id="artistDetailsContent">
      <div
        class="tab-pane fade show active"
        id="bio"
        role="tabpanel"
        aria-labelledby="bio-tab"
      >
        <div class="bio-content">{{ songDetails.description }}</div>
      </div>
      <div
        class="tab-pane fade"
        id="song"
        role="tabpanel"
        aria-labelledby="song-tab"
      >
        <div
          class="custom-card-list"
          *ngFor="let chapter of songDetails.chapters"
        >
          <app-song-list-view
            [song]="chapter"
            [icon]="'la-ellipsis-h'"
          ></app-song-list-view>
        </div>
      </div>
    </div>
    <!-- Begin | Tab Content -->
  </div>
  <!-- End | Section -->
</div>
