<div class="song-list--item-number">{{ song.chapterNumber }}</div>

<div class="song-h--img">
  <!--<img
      [src]="song.image"
      alt="{{ song?.name }}"
      [class]="card-img--radius-sm"
    />-->
</div>
<div class="song-h--desc">
  <span class="text-truncate song-h--name" title="{{ song?.name }}">{{
    song?.name
  }}</span>
</div>
<!--
<ul class="custom-card--labels d-flex ml-auto">
  <li class="ml-4">
    <app-song-options [icon]="icon" [song]="song"></app-song-options>
  </li>
</ul>-->
