/*--------------------------------
Footer Styles
--------------------------------*/

footer {
  background-color: #111111;
  text-align: center;
  padding: 120px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 30px;
}

.copyright {
  color: #ffffff;
}

.scrollup {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: $primaryColor;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  display: none;
  &:hover,
  &:focus,
  &:visited {
    color: #ffffff;
  }
}
