/*--------------------------------
Show Styles
--------------------------------*/

.show-table {
    width: 100%;
    tr {
        border-bottom: 1px solid #d7d7d7;
        transition: all 0.3s ease;
        background-size: cover;
        background-position: center center;
        &:hover {
            background-image: url(../images/show/bg.jpg);
        }
    }
    td {
        vertical-align: middle;
        padding: 50px 0;
    }
}

.show-date {
    line-height: 100%;
    transition: all 0.3s ease;
    width: 170px;
    tr:hover & {
        padding-left: 40px;
    }
    .date {
        display: block;
        font-size: 2.6rem;
        font-family: $headingFontFamily;
        font-weight: 700;
        color: $primaryColor;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .day {
        display: block;
        font-weight: 600;
    }
}

.show-times {
    max-width: 200px;
}

.show-hall {
    line-height: 100%;
    .hall-name {
        color: $primaryColor;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: $headingFontFamily;
        display: block;
        margin-bottom: 12px;
    }
    .hall-address {
        color: $headingFontColor;
        &:hover {
            color: $primaryColor;
        }
    }
}

.show-ticket {
    text-align: right;
    transition: all 0.3s ease;
    width: 200px;
    tr:hover & {
        padding-right: 40px;
        .btn {
            background-color: $primaryColor;
            border-color: $primaryColor;
            color: #ffffff;
        }
    }
}
