/*--------------------------------
Sponsor Styles
--------------------------------*/
.sponsors{
    margin-right: -92px;
    margin-bottom: -52px;
}
.sponsor {
    display: inline-block;
    margin-right: 92px;
    margin-bottom: 52px;
}