// All variable are here

//Color
$baseFontColor: #001111;
$headingFontColor: #111111;
$primaryColor: #ea5455;
$primaryHover: #b90101;

//Fonts
$baseFontFamily: 'Poppins', sans-serif;
$baseLineHeight: 1.857;
$baseFontSize: 1.4rem;
$headingFontFamily: 'Oswald', sans-serif;
