<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="mt-5 pt-5 main-container under-banner-content">
  <div class="row section" *ngIf="userProfile">
    <div class="col-xl-10 mx-auto">
      <div class="row">
        <div class="col-xl-8 col-md-7">
          <div class="card h-auto">
            <div class="card-body">
              <form action="#" class="row">
                <div class="col-md-6 form-group">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    class="form-control"
                    [(ngModel)]="userProfile.firstName"
                  />
                </div>
                <div class="col-md-6 form-group">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    class="form-control"
                    [(ngModel)]="userProfile.lastName"
                  />
                </div>
                <div class="col-12 form-group">
                  <label for="displayName" class="form-label">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    [(ngModel)]="userProfile.email"
                    readonly
                  />
                </div>

                <div class="col-12 my-4">
                  <button type="button" class="btn btn-primary btn-air">
                    Save Changes
                  </button>
                </div>

                <div class="col-12">
                  <p class="font-weight-bold w-100">Change email</p>
                  <p class="font-weight-bold w-100">Change password</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End | Main Container -->
